/* form styling */

form {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    min-height: 160px;
}

.buttonContainer {
    width: 100%;
    display: flex;
}

#newContainer {
    justify-content: space-evenly;
}

#lengthContainer {
    justify-content: space-around;
}

#resetContainer {
    justify-content: center;
}
